.engine-home-wrap {
    -webkit-border-radius: 0 10px 10px 10px;
    -moz-border-radius: 0 10px 10px 10px;
    border-radius: 0 10px 10px 10px;
    -webkit-box-shadow: 0px 4px 30px -5px rgb(0 0 0 / 08%);
    -moz-box-shadow: 0px 4px 30px -5px rgb(0 0 0 / 08%);
    box-shadow: 0px 4px 30px -5px rgb(0 0 0 / 08%);
}

.engine-home-wrap {
    padding-top: 16px;
    padding-bottom: 16px;
}

.engine-home-wrap,
.listed-proptby {
    padding-left: 19px;
    padding-right: 19px;
    background: #ffffff;
}

.listed-proptby {
    display: inline-block;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
    -webkit-box-shadow: 0px -10px 30px -5px rgb(0 0 0 / 08%);
    -moz-box-shadow: 0px -10px 30px -5px rgb(0 0 0 / 08%);
    box-shadow: 0px -10px 30px -5px rgb(0 0 0 / 08%);
    border-bottom: solid 1px #f2efef;
    padding-top: 10px;
    padding-bottom: 10px;
}


.engine-wrapper {
    position: relative;
    z-index: 3;
    top: 30px;
    width: 100%;
    max-width: 996px;
    margin-top: 21px;
}

.engineexp-text {
    border-radius: 10px;
    background: #F2F5F5;
    cursor: pointer;
    transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -moz-transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -ms-transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -o-transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.listed-typebtn::before,
.engineexp-text .form-control::before,
 .engineexp-text .engineexp-input::before {
    content: '';
    width: 100%;
    position: absolute;
    bottom: -11px;
    left: 0;
    height: 12px;
}

.engineexp-text:hover {
    -webkit-box-shadow: 0 0 0 2px #00c194;
    -moz-box-shadow: 0 0 0 2px #00c194;
    box-shadow: 0 0 0 2px #00c194;
}

.engineexp-text:hover .form-label {
    -webkit-animation: slideLink 300ms ease;
    -moz-animation: slideLink 300ms ease;
    -o-animation: slideLink 300ms ease;
    animation: slideLink 300ms ease;
}


.engineexp-text .form-control,
.engineexp-text .engineexp-input {
    display: block;
    width: 100%;
}

.engineexp-text .form-control,
.engineexp-text .engineexp-input {
    display: block;
    width: 100%;
    border: none;
    background: transparent;
    color: #121212;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: "Mulish", sans-serif;
    padding: 29px 34px 9px 9px;
    height: 56px;
}

.engineexp-text .form-label {
    pointer-events: none;
    position: absolute;
    top: 9px;
    left: 9px;
    color: #4B4B4B;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.engineexp-text .form-control.city,
.engineexp-text .engineexp-input.down {
    background-repeat: no-repeat;
    background-size: 20px;
}


.engineexp-text .form-control.city {
    background-image: url('../images/proptyic-search-line.webp');
    background-position: right 9px center;
}

.engineexp-text .engineexp-input.down {
    background-image: url('../images/proptyic-arrow-down.webp');
    background-position: bottom 7px right 9px
}

.col-md-5.PropTyCity,
.PropTyCity {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 28.5%;
    -ms-flex: 0 0 28.5%;
    flex: 0 0 28.5%;
    max-width: 28.5%;
}

.col-md-1.PropTyBtn,
.PropTyBtn {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 76px;
    -ms-flex: 0 0 76px;
    flex: 0 0 76px;
    max-width: 76px;
}

.proptby-fields .row {
    margin-right: -10px;
    margin-left: -10px;
}

.proptby-fields .bsCol {
    padding-right: 10px;
    padding-left: 10px;
}

.listed-prop-own-text{
    color: #3D3D3D; 
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.listed-prop-own {
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 2;
}
.listed-dropmenu.own {
    width: 181px;
}
.listed-typebtn {
    width: 119px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #e7e6e6;
    background-color: #ffffff;
    background-image: url('../images/proptyic-arrow-up.webp');
    background-repeat: no-repeat;
    background-position: right 2px center;
    background-size: 24px;
    text-align: left;
    padding: 4px 27px 4px 13px; 
    font-weight: 900;
    color: #3d3d3d;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

.listed-typebtn span{
    display: block; 
    pointer-events: none;
}
.listed-typebtn span.active{
    -webkit-animation: slideLink 300ms ease;
    -moz-animation: slideLink 300ms ease;
    -o-animation: slideLink 300ms ease;
    animation: slideLink 300ms ease;
}

.listed-typebtn:hover {
    background-color: #f8fffd;
    border-color: #00c194;
}

.listed-dropmenu {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #ffffff;
    -webkit-box-shadow: 0 -1px 4px -1px rgb(0 0 0 / 8%), 0 25px 50px -12px rgb(0 0 0 / 15%);
    -moz-box-shadow: 0 -1px 4px -1px rgb(0 0 0 / 8%), 0 25px 50px -12px rgb(0 0 0 / 15%);
    box-shadow: 0 -1px 4px -1px rgb(0 0 0 / 8%), 0 25px 50px -12px rgb(0 0 0 / 15%);
    padding: 4px;
    max-height: 297px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    margin-top: 6px;
}

.listed-dropmenu.show {
    display: block;
    -webkit-animation-name: fadeInUpListed;
    animation-name: fadeInUpListed; 
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(.5,0,0,1.25);
    -webkit-animation-timing-function: cubic-bezier(.5,0,0,1.25);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transform-origin: top center;
    -webkit-transform-origin: top center;
}

@-webkit-keyframes fadeInUpListed {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 10px, 0) perspective(800px) rotateX(-10deg);
        transform: translate3d(0, 10px, 0) perspective(800px) rotateX(-10deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInUpListed {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 10px, 0) perspective(800px) rotateX(-10deg);
        transform: translate3d(0, 10px, 0) perspective(800px) rotateX(-10deg);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

ul.listed-menu-proptby li,
ul.listed-menu-proptby li::before {
    transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -moz-transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -ms-transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -o-transition: all 200ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

ul.listed-menu-proptby li {
    color: #323030;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 11px;
    border-bottom: 1px solid #F4F1F1;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

ul.listed-menu-proptby li:last-child {
    border-bottom: none;
}

ul.listed-menu-proptby li span {
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: self-start;
    -webkit-align-items: self-start;
    -moz-box-align: self-start;
    -ms-flex-align: self-start;
    align-items: self-start;
}

ul.listed-menu-proptby li img.WorldProp-icon {
    top: 0px;
    margin-right: 8px;
    image-rendering: pixelated;
}

ul.listed-menu-proptby li::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ebfffa;
    -webkit-transform: translateX(-120%);
    -moz-transform: translateX(-120%);
    -ms-transform: translateX(-120%);
    -o-transform: translateX(-120%);
    transform: translateX(-120%);
}

ul.listed-menu-proptby li.active:before,
ul.listed-menu-proptby li:hover:before {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

ul.listed-menu-proptby li:hover {
    color: #00a780;
    font-weight: 600;
    border-color: #d0fff4;
}

.proptymenu-label {
    color: #423F3F;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
    display: block;
} 

.chsbeds-bathroom {
    margin-bottom: 28px;
}

.listed-dropmenu.beds-bathmenu-row {
    max-width: none;
    overflow: visible;
    max-height: none;
    width: 450px;
    padding: 18px 20px;
}

.beds-bathmenu-row ul.listed-menu-proptby {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #D4D4D4;
    font-size: 0;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.beds-bathmenu-row ul.listed-menu-proptby li {
    display: inline-block;
    border-bottom: none;
    border-right: 1px solid #D4D4D4;
    min-width: 48px;
    padding: 11px;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.beds-bathmenu-row ul.listed-menu-proptby li::before {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.beds-bathmenu-row ul.listed-menu-proptby li:first-child::before {
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    border-radius: 10px 0 0 10px;
}

.beds-bathmenu-row ul.listed-menu-proptby li:last-child::before {
    -webkit-border-radius: 0 10px 10px 0;
    -moz-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
}

.beds-bathmenu-row ul.listed-menu-proptby li:last-child {
    border-right: 0
}

.beds-bathmenu-row ul.listed-menu-proptby li span {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.beds-bathmenu-row ul.listed-menu-proptby li.active {
    -webkit-box-shadow: 0 0 0 2px #59D7B9;
    -moz-box-shadow: 0 0 0 2px #59D7B9;
    box-shadow: 0 0 0 2px #59D7B9;
    border-color: #ffffff;
    position: relative;
    z-index: 2;
    color: #00c194;
}

.listed-dropmenu.price-budget-row {
    max-width: none;
    overflow: visible;
    max-height: none;
    width: 291px;
    padding: 18px 20px;
}

.proptymenu-price-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.proptymenu-price-input .form-control {
    display: block;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #D4D4D4;
    background-color: #ffffff;
    height: 43px;
    padding: 6px;
    text-align: center;
    color: #121212;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.proptymenu-price-input hr {
    min-width: 16px;
    border: none;
    border-top: solid 2px #00c194;
    margin: 0 14px;
    max-width: none;
}

.proptymenu-price-footer {
    text-align: center;
    color: #00c194;
    cursor: pointer;
}

.proptymenu-price-body-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 165px;
    margin: 18px -18px 18px -6px;
}

.proptymenu-price-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.proptymenu-range-wrp {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 6px;
}

.proptymenu-range-wrp ul li {
    color: #323030;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    background-color: rgb(242 245 245 / 50%);
    border-radius: 10px;
    line-height: normal;
    padding: 11px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 400ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transition: all 400ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -moz-transition: all 400ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -ms-transition: all 400ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -o-transition: all 400ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    margin-bottom: 6px;
}

.proptymenu-range-wrp ul li:last-child {
    border-bottom: 0;
    margin-bottom: 0;
}

.proptymenu-range-wrp ul li:hover {
    background-color: #ddfff6;
    color: #008f6e;
}

/*-------- modal-site --------*/
.modal-site, .modal-site.fadeout{
    -webkit-animation-duration: 350ms;
    animation-duration: 350ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.modal-site {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    padding: 30px 10px;
    overflow-x: hidden;
    overflow-y: auto; 
    background-color: rgb(0 0 0 / 75%);
    -webkit-animation-name: fadeInmodal;
    animation-name: fadeInmodal; 
 } 
 .modal-site.show{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
 }
    @-webkit-keyframes fadeInmodal {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeInmodal {
    0% {opacity: 0;}
    100% {opacity: 1;}
    } 

    .modal-site.fadeout{
        -webkit-animation-name: fadeOutmodal;
        animation-name: fadeOutmodal;  
    }
    @-webkit-keyframes fadeOutmodal {
        0% {opacity: 1;}
        100% {opacity: 0;}
        }
        @keyframes fadeOutmodal {
        0% {opacity: 1;}
        100% {opacity: 0;}
        } 
        


 .modal-dialog-centered {
    max-width: 790px;
    width: 100%;
    position: relative;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            margin: auto;

} 
.modal-site-body {
    background-color: #ffffff;
    border-radius: 12px;
    width: 100%;
    -webkit-animation-name: fadeInUpModal;
    animation-name: fadeInUpModal;
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    animation-delay: 350ms;
    -webkit-animation-delay: 350ms;
    animation-timing-function: cubic-bezier(.5,0,0,1.25);
    -webkit-animation-timing-function: cubic-bezier(.5,0,0,1.25);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transform-origin: top center;
    -webkit-transform-origin: top center;
    position: relative;
} 
    @-webkit-keyframes fadeInUpModal {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0) perspective(800px) rotateX(-5deg);
    transform: translate3d(0, 10%, 0) perspective(800px) rotateX(-5deg);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInUpModal {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0) perspective(800px) rotateX(-5deg);
    transform: translate3d(0, 10%, 0) perspective(800px) rotateX(-5deg);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 


.modal-site-close {
    position: absolute;
    right: 12px;
    top: 12px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    border-radius: 50px;
    z-index: 2;
    transition: all 150ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -webkit-transition: all 150ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -moz-transition: all 150ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -ms-transition: all 150ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
    -o-transition: all 150ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.modal-site-close:hover {
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
}
.modal-site-body.customer-info-popup {
    padding: 29px 40px;
}
.lets-start {
    text-align: center;
    margin-bottom: 36px;
}
.lets-start h5 {
    color: #3d3d3d;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
}
.lets-start p {
    color: #7E7E7E; 
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
}
.customerdt-form {
    border: solid 2px #00C194;
    border-radius: 10px;
    padding: 40px 34px;
    position: relative;
}
.customerdt-label {
    color: #3d3d3d;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
    position: absolute;
    top: -14px;
    left: 27px;
    background-color: #fff;
    padding: 0 7px;
}

.customerdt-tbn-center {
    text-align: center;
    margin-top: 19px;
}
.modal-dialog-centered.customer-signin-dialog {
    max-width: 988px;
}