/*---- header ----*/
.site-header {
    background-color: #F6FBF9;
}

ul.header-mainMenu {
    margin: 0 -18px;
}

ul.header-mainMenu li {
    display: inline-block;
    padding: 0 18px;
}

.site-header .btnsite-outline {
    background: transparent;
    font-weight: 600;
}

.text-right-nvhead {
    text-align: right;
}

.header-mainMenu-nav {
    text-align: center;
}

.site-header .row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.siteheader-empty {
    display: none;
}

.siteheader-empty.fixed {
    display: block;
}

.site-header .row,
.siteheader-empty {
    min-height: 90px;
}

.header-mainMenu span {
    display: inline-block;
}

ul.header-mainMenu a {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    min-width: 80px;
    text-align: center;
    padding: 12px 16px
}

ul.header-mainMenu a.active,
ul.header-mainMenu a:hover {
    color: #00c194;
}

ul.header-mainMenu a:before,
ul.header-mainMenu a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: -3px;
    background: #00c194;
    border-radius: 20px;
}

ul.header-mainMenu a:after {
    right: 0;
    background: #00c194;
    -webkit-transition: width 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-transition: width 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
    -moz-transition: width 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: width 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
}

ul.header-mainMenu a:before {
    left: 0;
}

ul.header-mainMenu a.active:after,
ul.header-mainMenu a:hover:after {
    background: transparent;
    width: 100%;
    -webkit-transition: 0s;
    -o-transition: 0s;
    -moz-transition: 0s;
    transition: 0s;
}

ul.header-mainMenu a.active:before,
ul.header-mainMenu a:hover:before {
    background: #00c194;
    width: 100%;
    -webkit-transition: width 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-transition: width 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
    -moz-transition: width 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: width 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
}

ul.header-mainMenu a.active span,
.header-mainMenu a:hover span {
    -webkit-animation: slideLink 300ms ease;
    -moz-animation: slideLink 300ms ease;
    -o-animation: slideLink 300ms ease;
    animation: slideLink 300ms ease;
}

@-webkit-keyframes slideLink {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
        opacity: 0;
    }

    51% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes slideLink {
    0% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -moz-transform: translateY(8px);
        transform: translateY(8px);
        opacity: 0;
    }

    51% {
        -moz-transform: translateY(-8px);
        transform: translateY(-8px);
        opacity: 0;
    }

    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes slideLink {
    0% {
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -o-transform: translateY(8px);
        transform: translateY(8px);
        opacity: 0;
    }

    51% {
        -o-transform: translateY(-8px);
        transform: translateY(-8px);
        opacity: 0;
    }

    100% {
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideLink {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(8px);
        -moz-transform: translateY(8px);
        -o-transform: translateY(8px);
        transform: translateY(8px);
        opacity: 0;
    }

    51% {
        -webkit-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        -o-transform: translateY(-8px);
        transform: translateY(-8px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

ul.header-mainMenu a.active {
    font-weight: 700;
}

.site-header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    -webkit-animation-name: slideInHeaderfx;
    -moz-animation-name: slideInHeaderfx;
    -o-animation-name: slideInHeaderfx;
    animation-name: slideInHeaderfx;
    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
}

@-webkit-keyframes slideInHeaderfx {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes slideInHeaderfx {
    0% {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes slideInHeaderfx {
    0% {
        -webkit-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInHeaderfx {
    0% {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.site-header.fixed ul.header-mainMenu a:before,
.site-header.fixed ul.header-mainMenu a:after {
    bottom: -25px;
    height: 4px;
    -webkit-box-shadow: 0 -2px 25px 2px rgb(0 193 148 / 16%);
    -o-box-shadow: 0 -2px 25px 2px rgb(0 193 148 / 16%);
    -ms-box-shadow: 0 -2px 25px 2px rgb(0 193 148 / 16%);
    -moz-box-shadow: 0 -2px 25px 2px rgb(0 193 148 / 16%);
    box-shadow: 0 -2px 25px 2px rgb(0 193 148 / 16%);
}
.bsCol.wauto-head {
    width: auto;
}
.bsCol.wflexgrow-head {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
}
.site-header .row {
    -webkit-flex-wrap: nowrap;
        -o-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}

/*----- media query -----*/
@media (min-width: 992px) {
    .site-header .btnsite-outline {
        font-size: 18px;
        padding: 10px 11px;
    }
}