@import 'formfields.css';
/*---- header ----*/
.site-header {
    background-color: #F6FBF9;
}

ul.header-mainMenu {
    margin: 0 -18px;
}

ul.header-mainMenu li {
    display: inline-block;
    padding: 0 18px;
}

.site-header .btnsite-outline {
    background: transparent;
    min-width: 178px;
    font-weight: 600;
    border-radius: 50px;
}
.site-header .btnsite-outline img {
    width: 22px;
    margin-left: 0;
    margin-right: 6px;
}

.text-right-nvhead {
    text-align: right;
}

.header-mainMenu-nav {
    text-align: center;
}

.site-header .row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.siteheader-empty {
    display: none;
}

.siteheader-empty.fixed {
    display: block;
}

.site-header .row,
.siteheader-empty {
    min-height: 90px;
}

.header-mainMenu span {
    display: inline-block;
}

ul.header-mainMenu a {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    min-width: 80px;
    text-align: center;
    padding: 12px 16px
}

ul.header-mainMenu a.active,
ul.header-mainMenu a:hover {
    color: #00c194;
}

ul.header-mainMenu a:before,
ul.header-mainMenu a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    bottom: -3px;
    background: #00c194;
    border-radius: 20px;
}

ul.header-mainMenu a:after {
    right: 0;
    background: #00c194;
    -webkit-transition: width 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-transition: width 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
    -moz-transition: width 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: width 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
}

ul.header-mainMenu a:before {
    left: 0;
}

ul.header-mainMenu a.active:after,
ul.header-mainMenu a:hover:after {
    background: transparent;
    width: 100%;
    -webkit-transition: 0s;
    -o-transition: 0s;
    -moz-transition: 0s;
    transition: 0s;
}

ul.header-mainMenu a.active:before,
ul.header-mainMenu a:hover:before {
    background: #00c194;
    width: 100%;
    -webkit-transition: width 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
    -o-transition: width 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
    -moz-transition: width 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: width 0.45s cubic-bezier(0.22, 0.61, 0.36, 1);
}

ul.header-mainMenu a.active span,
.header-mainMenu a:hover span {
    -webkit-animation: slideLink 300ms ease;
    -moz-animation: slideLink 300ms ease;
    -o-animation: slideLink 300ms ease;
    animation: slideLink 300ms ease;
}

@-webkit-keyframes slideLink {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
        opacity: 0;
    }

    51% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes slideLink {
    0% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -moz-transform: translateY(8px);
        transform: translateY(8px);
        opacity: 0;
    }

    51% {
        -moz-transform: translateY(-8px);
        transform: translateY(-8px);
        opacity: 0;
    }

    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes slideLink {
    0% {
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -o-transform: translateY(8px);
        transform: translateY(8px);
        opacity: 0;
    }

    51% {
        -o-transform: translateY(-8px);
        transform: translateY(-8px);
        opacity: 0;
    }

    100% {
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideLink {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(8px);
        -moz-transform: translateY(8px);
        -o-transform: translateY(8px);
        transform: translateY(8px);
        opacity: 0;
    }

    51% {
        -webkit-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        -o-transform: translateY(-8px);
        transform: translateY(-8px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

ul.header-mainMenu a.active {
    font-weight: 700;
}

.site-header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
    -webkit-animation-name: slideInHeaderfx;
    -moz-animation-name: slideInHeaderfx;
    -o-animation-name: slideInHeaderfx;
    animation-name: slideInHeaderfx;
    -webkit-animation-duration: 0.2s;
    -moz-animation-duration: 0.2s;
    -o-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
}

@-webkit-keyframes slideInHeaderfx {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes slideInHeaderfx {
    0% {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes slideInHeaderfx {
    0% {
        -webkit-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInHeaderfx {
    0% {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.site-header.fixed ul.header-mainMenu a:before,
.site-header.fixed ul.header-mainMenu a:after {
    bottom: -25px;
    height: 4px;
    -webkit-box-shadow: 0 -2px 25px 2px rgb(0 193 148 / 16%);
    -o-box-shadow: 0 -2px 25px 2px rgb(0 193 148 / 16%);
    -ms-box-shadow: 0 -2px 25px 2px rgb(0 193 148 / 16%);
    -moz-box-shadow: 0 -2px 25px 2px rgb(0 193 148 / 16%);
    box-shadow: 0 -2px 25px 2px rgb(0 193 148 / 16%);
}
.bsCol.wauto-head {
    width: auto;
}
.bsCol.wflexgrow-head {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 100%;
}
.site-header .row {
    -webkit-flex-wrap: nowrap;
        -o-flex-wrap: nowrap;
        -moz-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
}
 
/*--- customer-sign-wrap ---*/
.ratioFind.customer-sign-wrap {
    padding-top: 111%;
    padding-bottom: 0;
    height: 100%;
    margin: -9px 0;
    border-radius: 10px 44px 44px 10px;
}

.signin-brand-cover {
    position: absolute;
    z-index: 2;
    top: 0;
    padding: 56px 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 100%;
}
.signin-brand-heading {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
            padding-bottom: 20px;
            color: #ffffff;
            text-shadow: 0px 9px 17px rgba(0, 0, 0, 0.25);
            font-size: 30px;
            font-style: normal;
            font-weight: 800;
            line-height: 1.6;
            letter-spacing: 0.6px;
}
.signin-right-acc {
    padding: 46px 60px 0 30px;
    position: relative;
    display: none;
}
.signin-right-acc.showsign{
display: block;
-webkit-animation-name: fadeInUpSign;
animation-name: fadeInUpSign;
animation-duration: 0.4s;
-webkit-animation-duration: 0.4s; 
animation-timing-function: cubic-bezier(.5,0,0,1.25);
-webkit-animation-timing-function: cubic-bezier(.5,0,0,1.25);
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
transform-origin: center;
-webkit-transform-origin: center;
}
@-webkit-keyframes fadeInUpSign {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2%, 0) perspective(850px) rotateX(-5deg);
    transform: translate3d(0, 2%, 0) perspective(850px) rotateX(-5deg);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInUpSign {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2%, 0) perspective(850px) rotateX(-5deg);
    transform: translate3d(0, 2%, 0) perspective(850px) rotateX(-5deg);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 
.signin-start h5 {
    color: #00c194;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 38px;
}
.signin-start h5 span{
    display: inline-block;
    -webkit-animation-name: slideLink;
    animation-name: slideLink;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 700ms;
    animation-delay: 700ms;
}

.customerdt-by-google{
    text-align: center;
}

.customerdt-by-google p {
    color: #7e7e7e; 
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 28px;
    margin-bottom: 0;
}
.customerdt-by-google p span {
    cursor: pointer;
    color: #00C194;
    font-weight: 600;
    margin-left: 4px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.customerdt-by-google p span:hover{
   text-decoration: underline;
}
.devider-for-google {
    margin: 20px 0;
    position: relative;
}
.devider-for-google {
    margin: 20px 0;
    position: relative;
    color: #979797;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4;
}
.devider-for-google span {
    background-color: #fff;
    padding: 0 7px;
    display: inline-block;
    position: relative;
    z-index: 2;
}
.devider-for-google:before {
    content: '';
    border-bottom: solid 1px #f2f2f2;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
}
.loginsign-mt {
    padding-top: 14px;
}
.forgetpass-right{
    text-align: right;
}
.forgetpass-link {
    color: #7e7e7e;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.forgetpass-link:hover{
    color: #00c194;
    text-decoration: underline;
}

/* switch-sitecase */
 
.switch-sitecase { 
    color: #7e7e7e;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.8; 
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: 0.4px;
    position: relative;
  }
  .switch-sitecase a {
    color: #7e7e7e;
    text-decoration: underline;
}
.switch-sitecase a:hover{
    text-decoration: underline;
    color: #00c194;
}
  .switch-sitecase input {
    display: none;
  }
  .switch-sitecase span {
    color: #7e7e7e;
    display: inline-block;
  }
  .switch-sitecase i {
    display: inline-block;
    width: 37px;
    min-width: 37px;
    height: 20px;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    vertical-align: middle;
    -webkit-transition: 0.25s 0.09s;
    -o-transition: 0.25s 0.09s;
    -moz-transition: 0.25s 0.09s;
    transition: 0.25s 0.09s;
    background: #f1f1f1;
    margin-right: 11px;
  }
  .switch-sitecase i:after {
    content: " ";
    display: block;
    width: 14px;
    height: 14px;
    top: 3px;
    left: 4px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: #fff;
    position: absolute;
    -webkit-box-shadow: 0px 2px 3px 0 rgb(0 0 0 / 25%);
       -moz-box-shadow: 0px 2px 3px 0 rgb(0 0 0 / 25%);
            box-shadow: 0px 2px 3px 0 rgb(0 0 0 / 25%);
    -webkit-transition: 0.15s;
    -o-transition: 0.15s;
    -moz-transition: 0.15s;
    transition: 0.15s;
  }
  .switch-sitecase input:checked + i {
    background: #00c194;
  }
  .switch-sitecase input:checked + i + span {
    color: #00c194;
    -webkit-animation-name: slideLink;
    animation-name: slideLink;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms; 
  }
  .switch-sitecase input:checked + i:after {
    -webkit-transform: translateX(15px);
       -moz-transform: translateX(15px);
        -ms-transform: translateX(15px);
         -o-transform: translateX(15px);
            transform: translateX(15px);
    -webkit-box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 25%);
       -moz-box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 25%);
            box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 25%); 
            width: 16px;
            height: 16px;
            top: 2px;
} 

.phonereg-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.phonereg-2 {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
}