/* font family css */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Niconne&display=swap');

/* import external css */
@import "header.css";
@import "footer.css";

/* global css */
html {
    font-display: swap;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top)
}

body {
    color: #000;
    font-size: 14px;
    word-break: break-word;
    font-display: swap;
    font-family: "Mulish", sans-serif;
}



body,
html {
    margin: 0
}

#__next,
body,
html {
    height: 100%;
}

@media(min-width:1200px) {
    body {
        scrollbar-face-color: #dee1e7;
        scrollbar-track-color: #ffffff
    }

    *::-webkit-scrollbar {
        width: 12px;
        height: 12px;
    }

    *::-webkit-scrollbar-track {
        background: #ffffff;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #dee1e7;
        border-radius: 60px;
        border: 2px solid #ffffff;
        height: 100px;
    }

    *::-webkit-scrollbar-thumb:hover {
        background-color: #cfd4dc;
    }
}

.btn,
.btn:focus,
a,
a:focus,
button,
button:focus,
input,
input:focus,
select,
select:focus,
textarea,
textarea:focus {
    outline: 0
}

select {
    cursor: pointer
}

a,.btn,
button,
a:focus,
a:hover {
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.btn,
a,
button {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    font-family: "Mulish", sans-serif;
}

input{
    font-family: "Mulish", sans-serif;
}

img {
    max-width: 100%;
    height: auto
}

.full-w {
    width: 100%;
    float: left
}

*,
img {
    image-rendering: crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast
}

@media(min-width:1265px) {
    .container {
        max-width: 1232px
    }
}

@media(max-width:991px) {
    ::-webkit-scrollbar {
        width: 2px;
        height: 10px
    }
}